.settings .settings__sections {
  margin: 30px 0px;
  border-top: 1px solid rgb(233, 231, 231);
  border-bottom: 1px solid rgb(233, 231, 231);
}

.settings .settings__setting {
  margin: 20px 0;
  display: flex;
}
.settings .settings__sections .settings__icon {
  font-size: 25px;
  margin-right: 20px;
  display: flex;
  align-content: center;
  cursor: pointer;
}
.settings .settings__sections .settings__title {
  font-size: 18px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 300;
}
